@import "./vars.css";

.container {
  background-color: rgba(202, 163, 182, 0.5);
  background: linear-gradient(360deg, #caa3b6 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 20px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

.icon {
  font-size: 4em;
}

/* left */
.locationContainer {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.locationIcon {
  position: relative;
  font-size: 4em;
  padding-bottom: 8px;
  color: var(--color-secondary);
  filter: drop-shadow(2px 2px 2px var(--color-dark));
}

/* right */
.aboutContainer {
  position: relative;
  width: 45%;
}

.title {
  /* background-color: var(--color-primary); */
  padding: 0 10px;
  border-radius: 20px;
  text-align: right;
  font-family: var(--font-headings);
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 0.5em;
  display: inline-block;
  text-shadow: 2px 2px var(--color-dark);
}

@media (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    height: 600px;
    padding: 1em;
  }
  .locationContainer {
    width: 50%;
  }
  .aboutContainer {
    width: 50%;
  }
}
