@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .App {
    gap: 30px;
  }
}

@media (max-width: 650px) {
  .App {
    gap: 0px;
  }
}

@media (max-width: 400px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
