@import "./vars.css";

.container {
  margin-top: 140px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  min-width: 0;
  max-width: 1500px;
}

.title {
  font-size: 2em;
  font-family: var(--font-headings);
  font-weight: 100;
  text-shadow: 2px 2px var(--color-dark);
  text-align: center;
  margin-bottom: 40px;
}

.slide {
  height: 530px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  min-width: 0;
}

@media (max-width: 800px) {
  .slide {
    max-height: 450px;
  }

  .container {
    margin-top: 100px;
  }
}
