:root {
  /* colors */
  --color-text: #fff;
  --color-primary: #e89aad;
  --color-secondary: #ffcfa4;
  --color-third: #f6e5a5;
  --color-bg: #e0b5c7;
  --color-dark: #caa3b6;

  /* fonts */
  --font-headings: "Galada";
  --font-h2: "Libre Franklin";
}
